@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

#container-navigator {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

#navigator-navbar {
  z-index: 1000; //MUST KEEP THIS FOR WORKING BURGER
  background: rgba(255, 255, 255, 0.3);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: whitesmoke;
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
  background-color: whitesmoke;
  color: black;
}

.navbar-link::after {
  border: 1px solid #000;
  border-top-style: none;
  border-right-style: none;
}

.hero-body {
  padding-top: 0px;
}

.dropdown-item {
  text-align: left;
  z-index: 999; //MUST KEEP THIS FOR WORKING BURGER
}

#nav-sign-in {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  height: 100px;
}

.navbar-item, .navbar-link {
  color: black;
}

#nav-search {
  padding-top: 33px;
}

#nav-box {
  width: 200px;
}

#nav-logo {
  height: 70px;
  width: 225px;
  margin-top: 0px;
  cursor: pointer;
}

#nav-cutlery {
  height: 30px;
  padding-right: 5px;
}

#nav-beverages {
  height: 30px;
  padding-right: 5px;
}

#nav-desserts {
  height: 30px;
  padding-right: 5px;
}

#search-button {
  height: 30px;
}

#search-field {
  width: 350px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#search-in-field {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80px;
  height: 40px;
}

//LOGIN
#log-login {
  background: lightgrey;
}
.subtitle-login{
  padding-bottom: 3%;
}
#container-login {
  margin-top: 0px;
}

//REGISTER
#reg-register {
  background: lightgrey;
}

.body-register{
  margin-right: 0%;
  margin-left: 0%;
}

//RECIPE
#rec-card_image {
  max-width: 100%;
  height: auto;
}

#rec-heart {
  padding-top: 5px;
  padding-left: 10px;
  height: 25px;
}

#rec-method {
  margin-left: 7%;
  margin-right: 7%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.4;
}

#rec-ingredients {
  margin-right: 7%;
  margin-left: 7%;
  text-align: left;
  text-justify: inter-word;
}

#rec-article {
  margin-top: 3%;
  padding-bottom: 4%;
  margin-left: 0%;
  margin-right: 0%;
  opacity: 0.95;
}

#rec-card-content {
  line-height: 1.9;
}

#rec-article-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
}

#rec-article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}

#rec-media-left {
  margin-bottom: 1rem;
}

//ADD RECIPE

.add-column {
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

#add-ingredients {
  width: 100%;
  height: 100px;
}

#add-method {
  height: 300px;
  width: 100%;
}

//#im {
//  color: black;
//}

//RECIPE BOX
.text-block {

  position: absolute;
  bottom: 0px;
  background-color: #B5B6B8;
  /*color: white;*/
  opacity: 0.65;
  padding-left: 70px;
  padding-right: 70px;
}

.img-inner-shadow .layer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.img-inner-shadow:hover .layer {
  box-shadow: inset 0px 0px 120px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0px 0px 120px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0px 0px 120px rgba(255, 255, 255, 0.9)
}

.img-inner-shadow .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.img-inner-shadow:hover .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

//HOME PAGE
#home-container{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

#search-container{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}


#category-container{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}


//LANDING PAGE
#container-landing #show-recipes {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  opacity: 0.75;
  padding: 12px 24px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

#container-landing #show-recipes:hover {
  background-color: gray;
}

#container-landing {
  position: relative;
  width: 10px;
}
